.navbar {
    background-image: url(https://photo.16pic.com/00/93/24/16pic_9324807_b.jpg);
}

.button {
    width: 200px;
    margin: auto;
}

.blogList {
    width: 800px;
    height: 600px;
    margin: auto;
}
