.box {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/swirl_pattern.png);
    border-style: ridge;
    border-width: 4px;
    border-color: aquamarine;
    border-radius: 45px;
    height: 350px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    position: relative;
}

h1 {
    text-align: center;
}

.inputBox {
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
}

#button {
    color: rgb(40, 193, 207);
    height: 35px;
    width: 160px;
    background-color: rgba(237, 216, 100, 0.152);
    margin: auto;
    position: absolute;
}

label {
    color: rgba(66, 73, 72, 0.634);
}