.navbar {
    background-image: url(https://img.tukuppt.com/ad_preview/00/06/08/5c98e72143453.jpg!/fw/780);
}

.button {
    width: 200px;
    margin: auto;
}

.blogList {
    width: 800px;
    height: 600px;
    margin: auto;
}
