.box {
    opacity: 90%;
    border-style: ridge;
    border-width: 4px;
    border-color: aquamarine;
    border-radius: 45px;
    height: 320px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    position: relative;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2014/12/27/16/38/planet-581239_960_720.jpg);
    background-size:cover;
}

h1 {
    text-align: center;
}

.inputBox {
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
}

#button {
    color: rgb(40, 193, 207);
    height: 35px;
    width: 160px;
    background-color: rgba(255, 253, 253, 0.152);
    margin: auto;
    margin-top: 10px;
    display: block;
}
p{
    color: rgb(255, 255, 255);
}
