<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddBlogPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/AddBlogPageCss.css}">
</head>

<body>
<form th:action ="@{/addBlog}" method="post">
    <div class="title">
        <label for="blogTitle">Blog Title</label>
        <textarea name="title" class="form-control" id="blogTitle" rows="1"></textarea>
    </div>

    <div class="content">
        <label for="blogTxt">Blog Content</label>
        <textarea name="content" class="form-control" id="blogContent" rows="17"></textarea>
    </div>
    <br>
    <br>
   
    <div class="button">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        <button type="reset" class="btn btn-secondary btn-lg">Cancel</button>
    </div>
</form>
</body>

</html>