<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BlogPage</title>
    <link rel="stylesheet" th:href="@{/CSS/BlogPageCss.css}">
    <!-- BootStrap导入 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand">MyBlog</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search blog" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="blogList">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">operation</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="blog : ${blogs}">
                    <tr>
                        <td th:text="${blog.title}"> </td>
                        <td>
                            <form th:action="@{/searchBlogPage}" method="post">
                                <input id="submit" type="submit" value="exhibit">
                                <input id="submit2" type="hidden" name="id" th:value="${blog.id}">
                            </form>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

    <div class="button">
        <form th:action="@{/addBlogPage}" method="get">
            <input id="submit1" type="submit" value="Add blog">
        </form>
        <form th:action="@{/login}" method="post">
            <input id="submit1" type="submit" value="Sign Out ">
        </form>
    </div>

</body>

</html>