<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editPage</title>
    <link rel="stylesheet" href="C:\Users\92463\Desktop\MyBlogPG\BlogRepository\src\main\resources\static\editPage.css">
</head>

<body>
    <div class="box">
        <div class="text1">
            <!-- <标题编辑区> -->
            <input id="blogTitle" type="text" placeholder="テーマを入力してください">
        </div>

        <div class="text2">
            <!-- 内容编辑区 -->
            <input id="blogTxt" type="text" placeholder="内容を入力してください">
        </div>

        <div class="button">
            <input id="submit1" type="button" value="发布文章">
            <input id="submit2" type="button" value="删除文章">
        </div>
    </div>

</body>

</html>