<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>loginPage</title>
    <link rel="stylesheet" href="loginPageCSS.css">
</head>




<body>

    <div id="box">
        <form action="/demoProject/blog.html" method="post">
            <h1>Login</h1>
            <label for="name">UserName:</label>
            <br>
            <input id="name" type="text" name="username" placeholder="please enter username">
            <br>
            <br>
            <label for="password">Password:</label>
            <br>
            <input id="password" type="password" name="password" placeholder="please enter password">
            <br>
            <br>
            <input type="submit" id="button" value="login">
            <br>
            <br>
            <p>Don't have an account?
                <a href="RegisterPage.html">
                    Star Register.</a>
            </p>
        </form>
    </div>
</body>

</html>