<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>SearchBlogPage</title>
    <link rel="stylesheet" th:href="@{/CSS/SearchBlogPageCss.css}">
</head>

<body>
    <div class="title">
        <label for="blogTitle">Title:</label>
        <p th:text="${blog.title}"></p>
    </div>

    <div class="content">
        <label for="blogTxt">Content:</label>
        <p th:text="${blog.content}"></p>
    </div>

    <div class="button">
		<form th:action="@{/blogPage}" method="get">
            <button type="submit" class="button3">Back</button>
        </form>
        <form th:action="@{/editBlogPage}" method="get">
            <button type="submit" class="button2">Edit This Blog</button>
            <input type="hidden" name="id" th:value="${blog.id}">
        </form>
        
        <form th:action="@{/deleteBlogPage}" method="post">
            <button type="submit" class="button1">Delete This Blog</button>
            <input type="hidden" name="id" th:value="${blog.id}">
        </form>
    </div>
</body>

</html>